{% extends "base.html" %}

{% block title %}Has Anyone Taken | Home{% endblock %}

{% block content %}
<style>
    /* Gradient Background */
    body, html {
        height: 100%;
        background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }



    /* Center Content */
    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    /* Top Right Buttons */
    .top-right-buttons {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        gap: 10px;
    }

    /* Button Styles */
    .top-right-buttons button,
    .top-right-buttons input[type="submit"] {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }


</style>

<!-- Background Pattern -->
<div class="background-pattern"></div>

<!-- Top Right Buttons -->
<div class="top-right-buttons">
    <a href="#" role="button">Sign up</a>
    <a href="#" role="button">Login</a>
</div>

<!-- Main Content -->
<div class="grid">
    <form method="GET" action="{% url 'search' %}">
        <div class="grid">
            <label for="professorname">
            <h1>Has anyone taken</h1>
            <input type="search" id="professorname" name="full_name" placeholder="Professor name" required>
            </label>
        </div>
    </form>
</div>
{% endblock %}
